* {
margin: 0;
}



html, body {
  margin:0;
  padding:0;
  height:100%;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }


blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  min-height: 1px; }

ul, li{
  list-style-type: none;
}

a {
  color: #726182; 
   }

a:visited {
  color: #726182; }

a:hover {
  color:#b2a0c3;
}

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

html, body {
  height: 100%;
  width: 100%; }
    
body {
  background: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing:0.03em;
  line-height: 20px;
  color:#636363;
}

.container{
  width:100%;
  height:100%;
  overflow:auto;
}

.plus{
  background:url('../img/plus.png') center no-repeat;
  width:15px;
  height:15px; 
  display:inline-block;
}

.plus:active{
  background:url('../img/plusactive.png') center no-repeat;
}

textarea{
  margin-top:90px;
  border:none;
  top:100px;
  color:#000;
  left:0px;
  height:60%;
  background-color:#fff;
  width:90%;
  padding:15px;
  font-size:25px;
}

textarea:focus{
  outline:none !important;
}

.hello{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:url('../img/title.gif') center #fff no-repeat;
  background-size:contain;
  z-index:99999;
}


/** TOPBAR **/


#speech{
  width:100%;
  height:110px;
  background:url('../img/speechcorner.png') bottom right no-repeat;
  position:absolute; 
  top:0px;
  z-index:999;
  left:0px;
}

#speech.past{
  background:none;
  height:80px;
}

#speech .grey{
  background:#F4F4F4;
  padding:23px 15px 15px 15px;
}

#speech.past .grey{
  padding:10px 15px !important;
  overflow:auto;
}

a:link.conv, a:visited.conv{
  font-size:12px;
  line-height:30px;
  margin:0px;
  color:#414141;
  text-decoration:none;
  letter-spacing:0em;
  display:block;
}

a:hover.conv, a:active.conv{
  color:#979797;
}

a.conv.right{
  float:right;
}

a.conv b{
  font-size:18px;
  vertical-align:middle;
  font-weight:900;
  color:#979797;
}

h2{
  font-family: "roboto", sans-serif;
  font-weight:700;
  font-size:15px;
  line-height:20px;
  letter-spacing:0.0075em;
  color:#414141;
  display:inline;
  margin-right:15px;
}

h2.grey{
  border-bottom:3px #D5D5D5 solid;;
}

h2.green{
  border-bottom:3px #36E1AB solid;
}

h2.yellow{
  border-bottom:3px #E5D31E solid;
}

h2.orange{
  border-bottom:3px #EA6E2C solid;
}


/*** COLOUR ***/

#colour{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:15px;
  background-color:#EA6E2C;
  z-index:9999;
}

#colour.open{
  height:40px;
  padding-left:15px;
}

.block{
  margin-top:10px;
  height:20px;
  width:20px;
  display:block;
  float:left;
  margin-right:10px;
  border:2px #979797 solid;
}

.block.active, .block:active{
  border:2px #fff solid;
}

.block.green{
  background-color:#36E1AB;
}

.block.yellow{
  background-color:#E5D31E;
}

.block.orange{
  background-color:#EA6E2C;
}

.block.grey{
  background-color:#414141;
}

/*** ADD TO CONVERSATION ***/

#add{
  position:absolute;
  top:80px;
  left:0px;
  bottom:0px;
  width:100%;
  overflow:auto;
  background-color:#D5D5D5;
  color:#fff;
}

  #add .top{
    line-height:40px;
    margin:0px 10px;
    margin-top:10px;
    font-size:13px;
    padding-left:60px;
    border-bottom:1px #979797 solid;
  }

  #add li a:link, #add li a:visited, #add li a:hover{
    line-height:40px;
    color:#fff;
    text-decoration:none;
    font-size:20px;
    font-weight:700;
    display:block;
    margin:0px 10px;
    padding:8px 5px 8px 5px;
    border-bottom:1px #979797 solid;
  }

  #add li a:active{
    background-color: #BEBEBE;
  }

  #add li a img{
    border:3px solid #36E1AB;
    height:40px;
    width:40px;
    vertical-align:middle;
    margin-right:10px;
  }

  /*** PAST CONVERSATIONS ***/

  #past{
    position:absolute;
    top:80px;
    left:0px;
    bottom:0px;
    width:100%;
    overflow:auto;
  }

  #past h1{
    color:#000;
    font-size:25px;
    margin-bottom:15px;
  }

  #past .bubble{
    width:100%;
    height:110px;
    margin-bottom:20px;
  }

  #past .bubble .corner{
    display:block;
    float:right;
    z-index:999;
    margin-top:-10px;
  }

  #past .bubble .txt{
    border-bottom:1px #6e6e6e solid;
    margin:0px 15px;
    padding:10px;
  }